@(message: String)

@main("Welcome to Play 2.0 And Neo4J") {
<div>
    <h4>Create User</h4>
    <label for="create_user_firstName">First Name</label>
    <input id="create_user_firstName" type="text" name="firstname">
    <button id="create_user" value="Create User">Create User</button>
</div>
<hr/>
<div>
    <h4>Create Group</h4>
    <label for="create_group_name">Name</label>
    <input id="create_group_name" type="text" name="name">
    <button id="create_group" value="Create User">Create Group</button>
</div>
<hr/>
<div>
    <h4>User knows another</h4>
    <label for="knows_start">User</label>
    <input id="knows_start" type="number" name="start">
    <br/>
    <label for="knows_end">Known</label>
    <input id="knows_end" type="number" name="end">
    <button id="knows" value="Link Them">Link Them</button>
</div>
<hr/>
<div>
    <h4>User is in a group</h4>
    <label for="grouping_user">User</label>
    <input id="grouping_user" type="number" name="user">
    <br/>
    <label for="grouping_group">Group</label>
    <input id="grouping_group" type="number" name="group">
    <button id="grouping" value="Add to Group">Add to Group</button>
</div>

<div>
<select name="groups" id="groups">
    <option value="-1">---</option>
</select>
</div>


<canvas id="viewport" width="800" height="600"></canvas>

}